.de {
    padding: 30px;
}
.chu {
    padding: 30px;
}
.c1 {
    color: white
}
.c2 {
    color:azure;
}
.bang {
    padding: 30px;
    color: white;
}
.thongtin1 {
    color: white;
}
.thongtin2 {
    color: white;
}
.thongtin3 {
    color: white;
}
.thongtin4 {
    color: white;
}

.Myproject h1 {
    color:white;
    text-align: center;
}
.white-text {
    color: white;
}

.purple-text {
    color: purple;
}


.Muc {
    display: flex;
    justify-content: center;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    padding: 30px;
    position: relative;
    display: inline-block; 
    text-align: center; 
    margin:  10px;
}

.item6 {
    position: relative;
    display: inline-block; 
}



.item7 {
    position: relative;
    display: inline-block; 
}


.item8 {
    position: relative;
    display: inline-block; 
}

.item9 {
    position: relative;
    display: inline-block; 
    
}
.thongtin1,
.thongtin2,
.thongtin3,
.thongtin4 {
    position: absolute;
    top: 150px;
    left: 330px; 
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 15px;
    text-align: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.item6,
.item7,
.item8,
.item9 {
    padding: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
}

.Sectionwork {
    display: flex;
    justify-content: space-between;
}

.item10,
.item11,
.item12,
.item13{
    text-align: center;
    color: white;
    padding: 30px;
    display:flex;
    /* width: 200px;
    height: 60px;
    padding: 20px;
    margin: 15px; */
    text-align: center;
    
}
/* .Header {
    display: flex;
    align-items: center; 
}

.content {
    display: flex;
    align-items: center; 
}


.thuba {
    flex-grow: 1; 
} */









