.de {
    padding: 30px;
}
.chu {
    padding: 30px;
}
.c1 {
    color: white
}
.c2 {
    color:azure;
}
.bang {
    padding: 30px;
    color: white;
}
.thongtin1 {
    color: white;
}
.thongtin2 {
    color: white;
}
.thongtin3 {
    color: white;
}
.thongtin4 {
    color: white;
}

.Myproject h1 {
    color:white;
    text-align: center;
}
.white-text {
    color: white;
}

.purple-text {
    color: purple;
}


.Muc {
    display: flex;
    justify-content: center;
}
.item1 {
    font-size: deeppink;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    padding: 30px;
    position: relative;
    display: inline-block; 
    text-align: center; 
    margin:  10px;
}

.item6 {
    position: relative;
    display: inline-block; 
}



.item7 {
    position: relative;
    display: inline-block; 
}


.item8 {
    position: relative;
    display: inline-block; 
}

.item9 {
    position: relative;
    display: inline-block; 
    
}
.thongtin1,
.thongtin2,
.thongtin3,
.thongtin4 {
    position: absolute;
    top: 150px;
    left: 330px; 
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 15px;
    text-align: center;
    box-shadow:  darkgray;
    border-radius: 5px;
}

.item6,
.item7,
.item8,
.item9 {
    box-shadow: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
}

.Sectionwork {
    display: flex;
    justify-content: space-between;
}

.item10,
.item11,
.item12,
.item13{
    text-align: center;
    color: white;
    padding: 30px;
    display:flex;
    text-align: center;
    
}

  /* Container layout */
  .container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  /* Left section */
  .left {
    flex: 1;
    text-align: right;
    padding: 20px;
    margin-bottom: 15px;
  }
  
  /* Right section */
  .right {
    flex: 1;
    right: 0;
    padding: 20px;
  }
  
  /* Center section */
  .center {
    flex: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-110%);
  }
  
  /* Heading style */
  h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 0;
  }
  
  /* Name color */
  .name {
    color: rgb(108, 54, 207);
  }
  
  /* Paragraph style */
  p {
    color: lightgray;
    margin-bottom: 20px;
  }
  
  /* Button style */
  .button {
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  
  /* Sub-header style */
  .sub-header {
    color: white;
    font-size: 1.5em;
    margin-top: 300px;
    text-align: left;
    transform: translateX(110%);
  
  }
  
  /* Image styling */
  .my-image {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  
  /* Responsive image */
  img {
    max-width: 100%;
    height: auto;
  }

.item14,
.item15,
.item16{
    text-align: left;
    padding: 20px;
}  

.item17,
.item18,
.item19,
.item20 {
    box-shadow: darkgray;
    text-align: right;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 600px;
    margin-top: -190px;
}
.rounded-image {
    border-radius: 20px; /* Điều này sẽ cong các góc của ảnh với bán kính là 20 pixel */
}
.Sectionwork {
    border-radius: 5px;
    box-shadow: darkgray;
}

.about-me {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 'item1 item1'
                         'item2 item3';
    color: white;
    padding: 0 40px 0 40px;
  }
  .about-me__header {
    grid-area: item1;
    display: flex;
    justify-content: center;
  }
  .about-me h3 {
    font-size: 30px;
  }
  .purple {
    color: purple;
    margin-left: 10px;
  }
  .about-me__left {
    padding-right: 10px;
    grid-area: item2;
    width: 560px;
  
  }
  .about-me__left--infor {
    display: flex;
  }
  .about-me__left--infor-1,
  .about-me__left--infor-2,
  .about-me__left--infor-3 {
    margin: 50px 25px 0 0;
  }
  .about-me__left--infor-2,
  .about-me__left--infor-3 {
    opacity: 0.5;
  }
  .about-me__left--infor-1 p,
  .about-me__left--infor-2 p,
  .about-me__left--infor-3 p {
    margin-bottom: 40px ;
  }
  .about-me__right {
    padding-left: 10px;
    grid-area: item3;
    display: grid;
    grid-template-areas: 'item4 item5'
                         'item6 item7' ;
    height: 500px;
  }
  .about-me__right-1 {
    grid-area: item4;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #1f32cf36;
    margin: 0 5px 5px 0;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me__right-2 {
    grid-area: item5;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #1f32cf36;
    margin: 0 0 5px 5px;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me__right-3 {
    grid-area: item6;
    border: 1px black solid;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    background-color: #1f32cf36;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me__right-4 {
    grid-area: item7;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #1f32cf36;
    margin: 5px 0 0 5px;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me__right div h5 {
    font-size: medium;
  }




