.personal-details__top {
    display: flex;
}

.personal-details__top__right {
    flex-basis: 50%; 
}

.personal-details__bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 cột cho item1 đến item5 */
    grid-gap: 10px; 
    border-radius: 10px;
    padding: 15px;
}

.grid-item.item6,
.grid-item.item7,
.grid-item.item8 {
    grid-template-columns: repeat(3, 1fr); /* 5 cột cho item1 đến item5 */
    justify-content: center;
}
.c2 {
    color: green;
}
.tiem1 {
    margin: 0px;
    padding: 0px;
    
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8{
    display:flex;
    width: 200px;
    height: 120px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

