*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'item1 item2 item3 item4 item5 item6 item7'
    'item8 item8 item8 item8 item8 item8 item8'
    'item9 item10 item10 item10 item10 item10 item11';
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h4 {
    color: white;
    font-size: 27px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
}
.item1 {
    grid-area: item1;
    background-color: blueviolet;
}
.item2 {
    grid-area: item2;
    background-color: blueviolet;
}
.item3 {
    grid-area: item3;
    background-color: blueviolet;
}
.item4 {
    grid-area: item4;
    background-color: blueviolet;
}
.item5 {
    grid-area: item5;
    background-color: blueviolet;
}
.item6 {
    grid-area: item6;
    background-color: blueviolet;
}
.item7 {
    grid-area: item7;
    background-color: blueviolet;
}
.item8 {
    grid-area: item8;

}
.item9 {
    grid-area: item9;
    background-color:purple;
}
.item10 {
    grid-area: item10;
}
.item11 {
    background-color: darkorchid;
}
.text {
    color: #fff;
    position: absolute;
    top: 32px;
    text-align: center;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .grid-container {
        grid-template-areas: 
        'item1 item1 item1 item1'
        'item2 item2 item2 item2'
        'item3 item3 item3 item3'
        'item4 item4 item4 item4'
        'item5 item5 item5 item5'
        'item6 item6 item6 item6'
        'item7 item7 item7 item7'
        'item8 item8 item8 item8'
        'item9 item9 item9 item9';
    } 
}
.grid-item a:hover {
    background:rgb(178, 37, 24);
}

.header {
    background-image: url('/z5115631276651_b5e0a9004197599a50b14344684738d2.jpg');
    background-size: cover;
    color: white;
    padding: 200px;
}
